		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<section id="custom-narrow-footer-width">
								<h3>More Information</h3>
								<ul class="links">
									{% assign current = page.url | downcase | split: '/' %}
									<li {% if current[1] == 'about.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/about.html">About Us</a></li>
									<li><a href="#">Contact </a></li>
									<li><a href="#">Privacy</a></li>
									<li><a href="#">Disclaimer</a></li>
									<li><a href="#">Status</a></li>
									<li><a href="#">Term of Use</a></li>
									<li><a href="#">Licenses + Acknowledgements</a></li>
								</ul>
							</section>
						</div>    
						<section class="6u">
							<h3>Get In Touch</h3>
							<form>
								<div class="row half collapse-at-2">
									<div class="6u">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="6u">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button alt" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy;2018 AllRisX. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>
	
	
		<!--begin: test Intercom messenger -->
    	<script>
          window.intercomSettings = {
            app_id: "lpl82z49"
          };
        </script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/lpl82z49';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    	<!--end: test Intercom messenger -->

	</body>
</html>
