<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-clipboard"></i>
						<h3>Quotes</h3>
						<p>Get quotes and calculate comparisons to cover risks.</p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-pencil"></i>
						<h3>Claims</h3>
						<p>Report and regulate claims that occured, stay up to date with their latest status.</p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-cogs"></i>
						<h3>Administration</h3>
						<p>Keep an overview of all policies, renewals, obligations and tasks.</p>
					</div>
				</section>
			</div>
		</div>
	</section>